.registerWrapper{
    display: flex;
    height: 100vh;
}

.register--left{
    background: rgb(28,101,140);
    background: linear-gradient(344deg, rgba(28,101,140,1) 7%, rgba(239,244,247,1) 100%, rgba(255,255,255,1) 100%);
    flex: 0.5;
}

.register--right{
    flex: 1;    
}

.registerFormWrapper{    
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -5vh;

}


@media (min-width: 1250px) {
    .register--left{
     display: none;
    }
   }
