.registerWrapper{
    display: flex;
    height: 100vh;
}

.register--left{
    background: rgb(28,101,140);
    background: linear-gradient(344deg, rgba(28,101,140,1) 7%, rgba(239,244,247,1) 100%, rgba(255,255,255,1) 100%);
    flex: 0.5;
}

.register--right{
    flex: 1;
    
}

