.registerWrapper{
    display: flex;
    height: 100vh;
}

.register--left{
    background-color: #1C658C;
    flex: 0.5;
}

.register--right{
    flex: 1;    
}

.registerFormWrapper{    
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -5vh;

}


@media (max-width: 1250px) {
    .register--left{
     display: none;
    }
   }
