.cartTable img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    margin: auto;
}

.cartTable{     
    height: max-content;
    max-height: 43vh;
    overflow-y: visible;
   width: 90vw;
   margin: auto;
   margin-top: 5vh;
   height: max-content;
   background-color: rgba(255, 255, 255, 0.701);
   color: black;
   border: 1px solid black;  

}

.cartTable thead th { position: sticky; top: 0px; z-index: 1; background-color: rgba(255, 255, 255, 0.479); }


.cartTable .icon{
    text-align: left;
    display: flex;
    width: 100%;
    flex-direction: row;
}

.cartTable .table{
    width: 92%;
    margin: auto;
  
}

.cartTable .table tr{
    height: 20px;
}

.cartTable tbody tr td{
    max-height: 50px;
    height: max-content;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.cartTable tbody tr td .quantity{
display: flex;
height: max-content;
margin: auto;
width: max-content;
}

.cartTable tbody tr td .delete{
    margin-top: -5px;
}

.cartTable tbody tr td .quantity button{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.cartTable .delete{
    color: red;
    cursor: pointer;
}

.quantity-disabled{
    background-color: gray;    
}

.quantity-disabled:hover{
    cursor:default;
    background-color: gray;
    color: white;
}

.price-col::after, .total-col::after{
    content: " Kč";
}

.desc-col::after{
    content: "...";
}

.cartTable .total{   
  
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 20px;
}

.total-col{
    font-weight: 500;
}