.topbarWrapper{
    
    height: 10vh;
    border: 1px solid #1c658cb5;
    display: flex;
}

.topElement{
    height: 100%;
    display: flex;
    margin: auto 0;
    border-right: 1px solid #1c658cb5;
  
}

.topbar__logo{
    flex: 2;
    height: 100%;
    display: flex;
    border-right: 1px solid #1c658cb5;
}

.topbar__searchBar{
    flex: 7;    
}

.topbar__basket{
    flex: 1;
}

.topbar__contact{
    flex: 1;
}

.topbar__profile{
    flex: 1;
   
}

.logo{
    width: 10vw;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin: auto;
}

.topElement{
    justify-content: center;
    align-self: center;
    align-items: center;
    color:rgb(187, 142, 28);
    cursor: pointer;
    transition: all 0.5s ease-out;
    margin-top: 0px;

}

.topElement:hover{
    color: #1c658cb5;
}


