.topbarWrapper{
    background-color: rgba(255, 255, 255, 0.852);
    height: 11vh;    
    display: flex;
    width: 90vw;
    justify-content: space-between; 
    top: 0;
    z-index: 999;
}
.topbarWrapper-hidden{
    background-color: transparent;
    justify-content: space-between;    
}

.topbarWrapper .logo{
    width: 200px;
}


.topElement{
    height: 100%;
    display: flex;  
}



.topbar__logo{    
    flex: 1.5;
}

.topbar__searchBar{
    flex: 3;    
}
.topbar__icons{    
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 50px;


}

.topbar__basket{
    position: relative;
    padding-right: 40px;
}

.topbar__contact{
    
}

.topbar__profile{
   position: relative;
   
}

.topElement{
    justify-content: center;
    align-self: center;
    align-items: center;
    color:rgb(187, 142, 28);
    cursor: pointer;
    transition: all 0.5s ease-out;
    margin-top: 0px;
    margin-right: 20px;
}

.topElement:hover{
    color: #1c658cb5;
}

.loginBadge{
    position: absolute;
    top: 30px;
    
z-index: 9999;
}

.loginBadge:hover{
    color: #1c658cb5;
}

.topbar__buttons{
   
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.topbar__basket span{ 
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2879fe;
    color: white;
    position: absolute;
    right: 50.5px;
    top: 37px;
    display: flex;
    align-items: center;
    justify-content: center;

}