.topbarWrapper{
    
    height: 12vh;
    border: 1px solid #1c658cb5;
    display: flex;
}

.topElement{
    height: 100%;
    display: flex;
    margin: auto 0;
    border-right: 1px solid #1c658cb5;
  
}

.topbar__logo{
    flex: 2;
    height: 100%;
    display: flex;
    border-right: 1px solid #1c658cb5;
    background-color: #1c658c07;
}

.topbar__searchBar{
    flex: 7;    
    background-color: #1c658c10;
}

.topbar__basket{
    flex: 1;
    background-color: #1c658c20;
}

.topbar__contact{
    flex: 1;
    background-color: #1c658c4d;
}

.topbar__profile{
    flex: 1;
    background-color: #1c658c73;
}


.logo{
    width: 10vw;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin: auto;
}

