.loginUser{
    width:180px;
    height: 45px;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 16px; 
}
.returnShopping{
    background-color: goldenrod;
    z-index: 999;
    height: 45px;
}


.registerUser{
    width: 180px;
    height: 45px;
    padding: 10px 20px;
    font-size: 16px; 
    font-weight: 600;
}

.finishOrder{
    margin: auto;
    margin-top: 20px;
    font-size: 21px;
    font-weight: 600;    
}

.checkoutWrapper .loginUser,.product .loginUser{
    position: fixed;
    right: 200px;
    top: 10px;
}

.checkoutWrapper .registerUser,.product .registerUser{
    position: fixed;
    right: 10px;
    top: 10px;
}

.checkoutWrapper .returnShopping,.product .returnShopping{
    position: fixed;
    top: 10px;
    left: 20px;
}

.topElement .loginUser, .topElement .registerUser{
 margin-top: 20px;
}


.loginRight .returnShopping, .register--right .returnShopping{
    margin: 15px 30px;
}

.loginRight .registerUser, .register--right .loginUser{
    position: fixed;
    top: 15px;
    right: 15px;
}

.contact-left .loginUser{
    position:relative;
    top: 0px;
    left: 0px;
    margin-top: 15px;
    margin-left: -10px;
}


.continueShopping{
    border-radius: 30px;
    margin: 20px auto;
    font-weight: 600; 
}


.cartButton{
    position: fixed;
    top: 15px;
    right: 400px;
    width: 150px;
    height: 40px;
    
}

.cartButton span{ 
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2879fe;
    color: white;
    position: absolute;
    right: 50px;
    top:0px;
    display: flex;
    align-items: center;
    justify-content: center;
}