.loginUser{
    width:225px;
    height: 45px;
 
    padding: 10px 20px;
    font-size: 20px; 
}
.returnShopping{
    background-color: goldenrod;
    z-index: 999;
    height: 45px;
}


.registerUser{
    width: 220px;
    height: 45px;
    padding: 10px 20px;
    font-size: 20px; 
}

.finishOrder{
    margin: auto;
    margin-top: 20px;
    font-size: 21px;
    font-weight: 600;    
}

.checkoutWrapper .loginUser,.product .loginUser{
    position: fixed;
    right: 240px;
    top: 10px;
}

.checkoutWrapper .registerUser,.product .registerUser{
    position: fixed;
    right: 10px;
    top: 10px;
}

.checkoutWrapper .returnShopping,.product .returnShopping{
    position: fixed;
    top: 10px;
    left: 20px;
}

.topElement .loginUser, .topElement .registerUser{
 margin-top: 20px;
}

.contact-left .loginUser{
    position:relative;
    top: 0px;
    left: 0px;
    margin-top: 15px;
    margin-left: -10px;
}


.continueShopping{
    border-radius: 30px;
    margin: 20px auto;
    font-weight: 600;
    
    
}
