.orderFinished__backGroundWrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgba(38, 30, 30, 0.674);
    z-index: 9999;
    position: absolute;
}

.orderFinished__PopUpWrapper
{
    width: 33vw;
    height: max-content;
    position: absolute;
    z-index: 9999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; 
    margin: auto;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    background-color: white;
}