
.hero{
    display: flex;
    height: max-content;
    
}



.homeWrapper{    
    width: 90vw;
    margin: auto;   
 
}

.library{

    height: max-content;
}

.sideMenu{   
    flex: 2; 
    height: max-content;
    border-right: 1px solid black;
    position: sticky;
    top: 0px;
}

.contentWrapper{
    flex: 10;   
    background-color: white;
    height: max-content;
   
}

.horizontalCarousel{
   
    flex:10;
    background-color: rgb(151, 111, 36);  
    object-fit: fill;
}



.slider{

}

