body{
    overflow:scroll;
   height: 100%;
}


.hero{
    display: flex;
    background-color: rgba(245, 222, 179, 0.674);
}
.body{
    background-color: rgba(245, 222, 179, 0.674);
 
}
.homeWrapper{
    width: 70vw;
    margin: auto;
    background-color: white;
}

.sideMenu{   
    flex: 2; 
    height: 88vh;
    border-right: 1px solid black;
}

.contentWrapper{
    flex: 10;
   
    background-color: white;
    
}

.horizontalCarousel{
    height: 35vh;
    flex:10;
    background-color: rgb(151, 111, 36);  
    object-fit: fill;
}

