.searchBarWrapper{  
  
    border-radius: 0;
    display: flex; 
    justify-content: center;
    justify-self: center;
    align-items: center;
    width: 85%;
    margin: auto;
    color: black;
  
}

.searchBarWrapper .searchBar__input {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 2rem;
    width: 0;
    border: 1px solid gainsboro;
  }
  
  .searchBarWrapper .searchBar__button {
    margin: 4px;
  }

.searchBar__input {
    border-radius: 0;
 
    color: var(--color-headings);
    font-size: 20px;
    margin: 5px;
    outline: 0;
    padding: 1.5rem 3.5rem;
    text-align: left;
  }

