html{scroll-behavior:smooth}

.checkoutWrapper{
   
    width: 100vw;
    display: flex;
    flex-direction:  column;
    margin: auto;
    margin-top: 1vh;  
}
.checkoutWrapper h3{
    padding: 30px;
    text-align: left;
    font-weight: 500;
    color: #2879fe;   
    font-size: 20px;
}

.checkoutWrapper .continue{
    width: max-content;
    height: 8vh;
    font-size: 34px;
    margin: auto;
    margin-top: 1vh;
    padding: 0px 30px;
      color: white;
}

.singlePage{
    height: 100vh;
    width: 100vw;
       justify-content: center;
    align-items: center;
}

.formula{
    background-color: red;
}

