html{scroll-behavior:smooth}

.checkoutWrapper{
   
    width: 100vw;
    display: flex;
    flex-direction:  column;
    margin: auto;
    margin-top: 1vh;  
}
.checkoutWrapper h3{
    padding: 30px;
    text-align: left;
    font-weight: 600;
    color: #2879fe;   
}

.checkoutWrapper .continue{
    width: max-content;
    height: 8vh;
    font-size: 34px;
    margin: auto;
    margin-top: 1vh;
    padding: 0px 30px;
      color: white;
}

.singlePage{
    height: 100vh;
    width: 100vw;
       justify-content: center;
    align-items: center;
}

.returnShopping{
    position: fixed;
    top: 10px;
    left: 20px;
    background-color: goldenrod;
    z-index: 999;
    height: 45px;
}

.loginUser{
    width: 140px;
    height: 45px;
    position: fixed;
    right: 200px;
    top: 10px;
    padding: 10px 20px;
    font-size: 22px; 
}

.registerUser{
    width: 180px;
    height: 45px;
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 10px 20px;
    font-size: 22px; 

}