/* .sideMenu__wrapper{
width: 100%;
margin: 0;
padding: 0;
text-align: left;
justify-items: left;
color: black;
} */

.sideMenuWrapper{ 
    width: 100%;
    display: flex; 
    height: max-content;
    flex-direction: column;  
    border-bottom: 1px solid black;
    border-left: 1px solid black;

}

.genresFilter{
    float: left;
    width: max-content;
    display: flex;
    margin: auto; 

}

.genresFilter .inputItem{
      
    margin-top: -25px;
}

.genresFilter label {
    float: left;
    text-align: left;
    margin:20px 20px;
    color: #1c658cb5;
    font-weight: 500;
    font-size: 15pt;
    margin-top: 10px;

}
.genresFilter input {
    float: left;
    width: auto;  

}

.genresFilter h2{
    margin-top: 0px;
    margin-bottom: 30px;    
}

.filterItem{
    padding-bottom: 10px;    
}

.filterItem hr{    
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
}

.filterItem h2{
    font-size: 20pt;
    color: black;
    margin-top: 15px;
}

.filterItem label:hover{
    color: goldenrod;
    cursor: pointer;
}

.filterItem button{
    border: none;
    padding: 10px 15px;
    background-color: goldenrod;
    color:white;
    font-size: 12pt;
    font-weight: 600;
    margin-bottom: 10px;
}

.filterItem .blocked-btn{
    background-color: gray;
}



.sortFilter{
    width: 75%;
    margin: auto;
    padding-bottom: 20px;
}

.sortFilter label{
    margin:10px 10px;    
}

.sortFilter input{
    float: right;
    margin-right: 10px;
    width: auto;
}

.sortFilter .inputItem{
    margin-bottom: -30px;
}


.sortFilter .inputItem{

}