/* .sideMenu__wrapper{
width: 100%;
margin: 0;
padding: 0;
text-align: left;
justify-items: left;
color: black;
} */

.sideMenuWrapper{ 
    
    display: flex; 
    height: max-content;
    flex-direction: column;  
    background-color: rgba(255, 255, 255, 0.852);
    padding: 10px 30px;
    z-index: 1;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 40px;

}

.genresFilter{
    float: left;
    width: max-content;
    display: flex;
    margin: auto;
    margin-bottom: 15px;
   
}


.genresFilter .inputItem{
display: flex;
margin-bottom: -30px;
margin-left: 10px;
}

.genresFilter label {
    float: left;
    text-align: left;
    color: #1c658cb5;
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;

}
.genresFilter input {
    float: left;
    width: auto;  
}

.genresFilter h2{
    margin-top: 0px;
    margin-bottom: 0px;    
}

.priceFilter{
    display: flex;
    margin: auto;
}

.filterItem{
    margin-bottom: -10px;
}

.filterItem hr{    
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 4px;
}

.filterItem h2{
    font-size: 22px;
    text-align: center;
    color: black;
    margin-top: 15px;
    
}

.filterItem label:hover{
    color: goldenrod;
    cursor: pointer;
}

.filterItem button{
    border: none;
    padding: 10px 15px;
    background-color: goldenrod;
    color:white;
    font-size: 12pt;
    font-weight: 600;
    margin-bottom: 10px;
    margin: auto;
    width: 130px;
}

.filterItem .blocked-btn{
    background-color: gray;
}



.sortFilter{
  display: flex;
  width: max-content;
  flex-direction: column;
    margin: auto;

    margin-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}

.sortFilter label{
   
}

.sortFilter input{
    float: right;
    margin-right: 0px;
    width: auto;
}

.sortFilter .inputItem{
    margin-bottom: -30px;
}


.sortFilter .inputItem{
    margin-top: 0px;
}

.sortFilter label {
    float: left;
    text-align: left;
    color: #1c658cb5;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
}
.sortFilter input {
    float: left;
    width: auto;  
}

.sortFilter hr{
    margin-bottom: 7.5px;
}

.sortFilterCategory{
    margin-top: 5px;
    margin-left: 40px;
    text-align: left;
    font-weight: 500;
    color: black;
}

.sortFilter span{
    text-align: center;
    align-self: left;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: -10px;
}