.navbarWrapper{
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between; /*díky tomuto budeme mít left na levé straně a right na pravé straně*/
    height: 5vh;
    background: rgb(28,101,140);
background: linear-gradient(122deg, rgba(28,101,140,1) 7%, rgba(239,244,247,1) 100%, rgba(255,255,255,1) 100%);
    color: white;
    -webkit-box-shadow: 0px 10px 26px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 26px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 26px -15px rgba(0,0,0,0.75);
    z-index: 999;
}

.logo{
    width: 6.5vw;
    height: 5vh;
    margin: auto 120px;
  
}

.navbarMainLinks{
    color: white;
    text-decoration: none;
    padding: 0 50px;

}

.link:hover, .navbarMainLinks:hover{
    color: black;
    text-decoration: none;
    
}

.mainLink{
    font-weight: 700;
    font-size: 110%;
    padding-left: 100px;
}

.settingsLink{
    color: black;
    font-weight: 600;
}

.settingsLink:hover{
    color: #1c658c;
}