.carouselWrapper{
    display: flex;
    flex-direction: row;
    margin: 0 2vw;
}

.carouselLeft{
    flex: 1;
    margin-left: 1vw;
    transition: margin, 100s;
}

img{
    z-index: 99;
    margin-top: 50px;
    width: 90%;
}



.carouselRight{
    margin-top: -10vw;
    flex: 1;
    margin-right: 1vw;
    transition: margin, 100s;
}

.carouselRight:hover{
    margin-top: 100vw;
}

.carouselLeft:hover{
    margin-top: -80vw;
}