.carouselWrapper{
    display: flex;
    flex-direction: row;

}

.carousel--right{
    flex: 0.7;
    margin-right: 4vw;
    animation: scroll-right 130s linear infinite;   
}

.carousel--left{
    flex: 1;
    margin-left: 2vw;   
    animation: scroll-left 200s linear infinite;
    height: calc(900px * 6);
  
}

.carousel--left > .slide{  
    height: 900px;
    width: 660px;
}

.carousel--right > .slide{  
    height: 650px;
    width: 490px;
}

img{
    z-index: 99;
    margin-top: 15px;
    width: 90%;
}

@keyframes scroll-left {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(calc(-900px * 3));
    }
}

@keyframes scroll-right {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(calc(-650px * 4));
    }
}