.carouselWrapper{
    display: flex;
    flex-direction: row;
}

.carousel--right{
    flex: 0.7;
    margin-right: 4vw;
    animation: scroll-right 200s linear infinite; 
    margin-top: 16vh;

}

.carousel--left{
    margin-top: 10vh;
    flex: 1;
    margin-left: 2vw;   
    animation: scroll-left 480s linear infinite;
    height: calc(900px * 6);
  
}

.slide > img{
    -webkit-box-shadow: 1px 2px 22px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 1px 2px 22px 0px rgba(0,0,0,0.42);
    box-shadow: 1px 2px 22px 0px rgba(0,0,0,0.42);
}

.carousel--left > .slide{  
    width: 390px;
    height: 520px;
}

.carousel--right > .slide{  
    width: 290px;
    height: 390px;
    
}

img{
    z-index: 99;
    margin-top: 15px;
    width: 90%;
}

@keyframes scroll-left {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(calc(-520px * 3));
    }
}

@keyframes scroll-right {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(calc(-390px * 3));
    }
}