.footer{
    width: 100vw;
    margin: auto;
    padding-top: 50px;
    background-color: white;

}

.top{   
    display: flex;
    gap: 50px;
    width: 75vw;
    margin: auto;
    margin-top: 50px;
}

.top .item{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: justify;
            font-size: 14px;

        }

        .top h1{
            font-size: 18px;
            font-weight: 500;
            color: #555;
        }

        .top span{
            color: gray;
        }
    
    .bottom{
        display: flex;
        height: 200px;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        width: 70vw;
        margin: auto;
    }
        .bottom .lefty{
            display: flex;
            align-items: center;
        }

        .bottom .lefty .logo{
                color:#2879fe;
                font-weight: bold;
                font-size: 24px;
            }

        .bottom .lefty  .copyright{
                margin-left: 20px;
                font-size: 12px;
                color: gray;
            }        
        .bottom .right img{          
                height: 50px;        
                width: 500px;   

        }
    
