.contactInfo{   
   width: 90vw;   
   margin: auto;
   margin-top: 1vh;
   height: max-content; 
   color: black;  
   display: flex;
   gap: 1vh;
   
}

.contactInfo > *{
 
    background-color: rgba(255, 255, 255, 0.701);
    border: 1px solid black;  
    padding-bottom: 1.5vh;
}


.contact-left{
    flex: 0.6;
    display: flex;
    flex-direction: column;  
    margin: 0;
    height: 47vh;
    
}

.contact-middle{
    flex: 0.6;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    height: 47vh;
}

.contact-right{
    flex: 1;

    max-height: max-content;
}

.personalInfoTitle{
    display: flex;    
    margin-bottom: 0;
}

.contact-left form{
    margin-top: -5px;
}


.deliverySelection{
    margin: auto;
    margin-top: -3px;
    width: max-content;
}

.deliveryService{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    align-self: center;
    vertical-align: middle;
    height: 50px;
}

.deliveryService:hover{
    cursor: pointer;
}

.contactInfo label:hover{
    cursor: pointer;
    color:#2879fe; 
}

.deliveryService label {
    margin-left: 20px;
    justify-content: center;
    font-weight: 500;  
}

.deliveryService img{
    height: 30px;
    width: 90px;
    align-self: center;
    justify-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
}


.paymentSelection{
    margin: auto;
    width: max-content;
}

.paymentMethod{
    display: flex;
    
}

.payment-left, .payment-right{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    align-self: center;
    vertical-align: middle;
    text-align: right;
}

.payment-left{
    width: 280px;
}

.paymentMethod span{
    text-align: right;
}

.paymentMethod label {
    margin-left: 20px;
    justify-content: center;
    font-weight: 500;  
}


.paymentMethod img{
    width: 20px;
    height: 20px;
    align-self: center;
    justify-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
}

.payment-right span{
    font-weight: 500;
    color: #2879fe;
}