.bookWrapper{  
    width: 225px;
    padding: 15px;
    margin-top: 10px;
  
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.coverImg{
    position: relative;
    margin-top: 30px;
    z-index: 1;
    width: 200px;
    height: 260px;
    
}

.coverImg img{

    height: 100%; width: 90%; object-fit:cover;
    display: flex;
    align-self: center;
    margin: auto;
}

.bookInfo{
    width: 100%;
}

.title{

    text-align: left;
    font-size: 16px;
    font-weight: 600;
    display:inline-block;
}

.priceBadge{
    background-color: #1c658c;    
    position: absolute;
    color: white;
    bottom: 10px;
    right: -20px;
    width: 160px;
    height: 35px;
    z-index: 999;
    padding: 5px 15px;
    justify-content: center;
    vertical-align: middle;    
    font-size: 14pt;
    font-weight: 500;
}

.price::after{
    content: " Kč";
}

.coverImg .bestsellerBadge{
    position: absolute; 
    width: 160px;
    color: white;
    bottom: 45px;
    right: -20px;
    z-index: 999;
    padding: 1px 15px;
    justify-content: center;   
    font-size: 14pt;
    font-weight: 400;
}

.coverImg .newBadge{
    position: absolute; 
    width: 100px;
    color: white;
    bottom: 45px;
    right: -20px;
    z-index: 999;
    padding: 1px 15px;
    justify-content: center;   
    font-size: 14pt;
}

.coverImg .badge-up{
    bottom: 77.5px;
}

.newBadge .pointer{
    background-color: green;
}

.coverImg .discountBadge{
    position: absolute;
    color: goldenrod;
    z-index: 99;
    width: 80px;
    top: 0;
    right: -5px;
    outline: yellow;
}

.discountValue{
    position: absolute;
    width: auto;
    top: 18px;
    right: 20px;
    color: black;
    font-weight: 1000;
    font-size: 13pt;
}

.oldPriceValue{
    font-size: 13px;
    color: black;
    font-weight: 700;
    text-decoration: line-through;
    position: absolute;
    top:36px;
    right: 14px;
    z-index: 999;
}

.oldPriceValue::after{
    content: " Kč";
}


.discountValue::before{
    content: "-";
}

.discountValue::after{
    content: "%";
}

.pointer {
    width: 100%;
    height: 30px;
    position: relative;
    
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 12pt;
    text-align: left;
    padding-left: 10px;
  }
  .pointer:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 15px solid white;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  .pointer:before {
    content: "";
    position: absolute;
    right: -15px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 15px solid red;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  .bestsellerBadge .pointer{
background-color: #900C3F;
  }

  .pointer span{
    height: auto;
    justify-content: center;
    
    vertical-align: middle;
  }
    
.priceBadge span {
    margin-right: 10px;
    margin-bottom: 5px;    
}

.author + .author::before {
    display: inline-block;
    white-space: pre;
    content: ", ";   
}

.category + .category::before {
    display: inline-block;
    white-space: pre;
    content: ", ";   
}

.category{
    font-size: 11px;
    font-weight: 500;
    color: #1c658c;
}

.category:first-child:before{
    content: '[';
}

.category:after{
    content: '] ';
}


.authors{
    margin-top: -5px;
    font-size: 12px;
}

.rating{
    margin: auto;    
    width: max-content;  
    height: max-content;  
    display: flex;
}



.buyManga{
    border: 1px solid blue;
    padding: 5px 10px;
    background-color: #2879fe;
    color: white;
    font-weight: 500;
    margin: auto;
    width: max-content;
    text-align: center;
}

.buyManga span{
    font-size: 13px;
}

.coverImg:hover{
    cursor: pointer;
}